@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:wght@100..900&family=Zen+Maru+Gothic:wght@400;500;700&display=swap');
html, :root {
  --primary: #054B85;
  --secondary: #D0E0F0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", "Zen Maru Gothic", "Noto Sans JP", sans-serif;
  font-size: 16px;
  box-sizing: content-box;
  box-sizing: border-box;
}

/* Body Styles
-------------------------------------------------- */
  
main {
  display: flex;
  flex-direction: column;
  min-height:  calc(100vh - 600px);
  background: #f3f3f3;
  color: #000;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  line-height: 1.8;
}


.ccm-toolbar-visible .navbar-fixed-top {
  z-index: 4;
}

#home-info, #treatments, #greetings, #doctors, #standards, #access, #affiliations, #equipments, #flow, #registration, #reserve, #confirm, #maps  {
  padding: 6rem 0;
}


#home-info {
  padding: 2rem 0 6rem 0;
}



#treatments, #doctors, #standards, #flow, #maps {
  background-color: var(--secondary);
}
#reserve {
  background-color: #fff;
}

@media screen and (max-width:1199.98px) { 
  #home-info, #treatments, #greetings, #doctors, #standards, #access, #affiliations, #equipments, #equipments, #flow, #registration, #reserve, #maps {
    padding: 5rem 0;
  }
}
/* a
-------------------------------------------------- */

a {
  color: #333;
  transition: all 0.5s ease;
  text-underline-offset: 3px;
  /* text-decoration-color: #999; */
  text-decoration-thickness: 0.8px;
}

a:hover,
a:focus,
a:active {
  color: #999;
}

/* h1 h2 h3 h4 h5 h6
-------------------------------------------------- */

h1,
.h1 {
  color: #fff;
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

h1.error {
  color: #666;
}

h2,
.h2 {
  font-weight: 500;
  color: #000;
  padding-bottom: 0.25em;
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

h3,
.h3 {
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-size: 22px;
  font-weight: 500;
  /* padding-top: 0.5em; */
}

h4,
.h4 {
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 0.75em;
  margin-top: 0;
}

h5,
.h5 {
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 0.75em;
  border-bottom: 2px solid var(--primary);
  /* padding-bottom: .25rem !important; */
  line-height: 1.6;
}

h6,
.h6 {
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 0.75em;
}

@media screen and (max-width:1199.98px) {
  
  h1,
  .h1 {
    font-size: 24px;
  }

  .h5 {
    font-size: 18px;
  }
  
  h6,
  .h6 {
    font-size: 16px;
  }
}


h5,
.heading-wrap {
  /* text-align: center; */
  text-align: left;
  position: relative;
}

#treatments h2 {
  text-align: center;
  position: relative;
  font-weight: 500;
}

.heading-small {
  content: "";
  position: absolute;
  font-size: 14px;
  right: 0;
  left: 0;
  top: -20px;
  color: var(--primary);
  font-weight: 300;
}
.heading-large {
  padding-top: 1rem;
  margin-top: 3rem;
}

.heading-icon {
  margin-right: .5rem;
  margin-bottom: 8px;
}

.doctors-name {
  font-weight: 500;
  border-bottom: 2px solid var(--primary);
  padding-bottom: .25rem!important;
  padding-top: 0!important;
}
.doctors-name span {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-left: 8px;
}
.doctors-name img {
  padding-right: 8px;
  padding-bottom: 5px;
  width: 40px;
}

.doctors-heading {
  font-weight: 500;
  margin-bottom: .5em!important;
}



/* main
-------------------------------------------------- */


#home-mv {
  position: relative;
  background: #999999 url(../images/home-mv.svg) no-repeat bottom center / cover;
  width: 100%;
  display: grid;
  place-items: center;
  place-content: center;
}
@media screen and (min-width:768px) {
#home-mv {
    min-height: 800px;
  }
}

.main-visual-wrap {
  display: block;
}

.main-catchcopy {
  color: #fff;
  font-size: 3vw;
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  letter-spacing: 0.1em;
  z-index: 1;
  display: block;
  margin: 0 auto;
  text-align: start;
  padding-top: 2rem;
  text-shadow: 2px 2px 15px rgba(58, 101, 136, 0.05), 2px 0 15px rgba(58, 101, 136, 0.05), -2px 0 15px rgba(58, 101, 136, 0.05), 0 2px 15px rgba(58, 101, 136, 0.05), 0 -2px 15px rgba(58, 101, 136, 0.05), 2px 2px 15px rgba(58, 101, 136, 0.05), 2px -2px 15px rgba(58, 101, 136, 0.05), -2px 2px 15px rgba(58, 101, 136, 0.05), -2px -2px 15px rgba(58, 101, 136, 0.05);
  font-size: clamp(24px, 3vw, 45px);
}

@media  (min-width:1400px) {
  .main-catchcopy {
    padding-left: 7rem;
  }
}

@media (max-width:1199.98px) {
  .main-catchcopy {
    text-align: center;
    line-height: 1.8;
    top: 52%;
  }
}
@media (max-width: 576px) {
  .main-catchcopy {
    font-size: 4vw;
    padding-top: 3rem;
  }
}



/* badge --------------------------- */

.mv-badge {
  background-color: var(--primary);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 80px;
}
.badge-wrap {
  display: grid;
  place-items: center;
  width: 160px;
  height: 160px;
}
.badge-text {
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.4;
  font-family: "Zen Maru Gothic", "Noto Sans JP", sans-serif;
}

@media screen and (max-width:1199.98px) {
  .mv-badge {
    width: 120px;
    height: 120px;
    bottom: -15px;
    right: 30px;
  }
  .badge-wrap {
    width: 120px;
    height: 120px;
  }
  .badge-text {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1.4;
  }
}

@media screen and (max-width:478px) {
  .mv-badge {
    width: 100px;
    height: 100px;
    bottom: -60px;
    right: 30px;
  }
  .badge-wrap {
    width: 100px;
    height: 100px;
  }
  .badge-text {
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1.4;
  }
}

/* sub-copy
-------------------------------------------------- */

#sub-copy-area {
  background-color: #f3f3f3;
  color: #000;
  padding: 5rem 0;
  margin-bottom: 1rem;
}

#sub-copy-area p {
  line-height: 1.8;
}

.sub-copy {
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  color: #333;
  display: inline-block;
  margin-bottom: 0;
  z-index: 0;
}

.sub-copy:after {
  content: "";
  position: absolute;
  background: transparent url(../images/kidney.svg) no-repeat top center / cover;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
}

@media screen and (max-width:443px) {
  #home-info {
    padding: 1rem 0 3rem 0;
  }
  #sub-copy-area {
    background-color: #f3f3f3;
    color: #000;
    padding: 4rem 0;
    margin-bottom: 1rem;
  }
  .sub-copy {
    font-size: 16px;
    padding: 16px 0 0 0;
  }
}


#seren-main-nav {
  z-index: 10;
  opacity: 1;
}


/* sub-page  mainvisual ----------------- */

#about-mv {
  min-height: 400px;
  background: #999999 url(../images/about-mv.svg) no-repeat bottom center / cover;
  display: grid;
  place-items: center;
  place-content: center;
}

#reserve-mv {
  min-height: 400px;
  background: #999999 url(../images/reserve-mv.svg) no-repeat bottom center / cover;
  display: grid;
  place-items: center;
  place-content: center;
}

.mv-title small {
  display: block;
}


#treatments-mv {
  min-height: 400px;
  background: #999999 url(../images/treatmens-mv.svg) no-repeat bottom center / cover;
  display: grid;
  place-items: center;
  place-content: center;
}

#access-mv {
  min-height: 400px;
  background: #999999 url(../images/access-mv.svg) no-repeat bottom center / cover;
  display: grid;
  place-items: center;
  place-content: center;
}

.mv-title {
  margin-bottom: 0;
  color: #fff!important;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0px!important;
  padding-bottom: 0!important;
  margin-top: 2rem!important;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(88, 88, 88, 0.03), 2px 0 10px rgba(88, 88, 88, 0.03), -2px 0 10px rgba(88, 88, 88, 0.03), 0 2px 10px rgba(88, 88, 88, 0.03), 0 -2px 10px rgba(88, 88, 88, 0.03), 2px 2px 10px rgba(88, 88, 88, 0.03), 2px -2px 10px rgba(88, 88, 88, 0.03), -2px 2px 10px rgba(88, 88, 88, 0.03), -2px -2px 10px rgba(88, 88, 88, 0.03);
}

/* map --------------------------- */

.map-wrap {
  display: flex;
  justify-content: space-between;
}

.map_info {
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (max-width:576px) {
  .map-wrap {
    flex-direction: column;
  }
  .map-wrap .map_info {
    order: 2;
  }
  .map-wrap .btn-secondary {
    order: 1;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
  iframe {
    height: 300px;
  }
}

/* btn ---------------------------- */


.btn-primary a {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #fff!important;
  border-radius: 50px;
  padding: .5rem 1.6rem ;
  text-decoration: none;
  line-height: 1.2;
  background-color: var(--primary);
  transition: all 0.5s ease!important;
  opacity: 1;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
}
.btn-primary a:hover {
  opacity: .8;
  background-color: var(--primary);
}

.btn-primary .fa-phone-alt {
  color: #fff;
}

.btn-secondary a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary)!important;
  border: 1.4px solid var(--primary);
  border-radius: 50px;
  padding: .5rem 1.2rem ;
  text-decoration: none;
  line-height: 1.2;
  background-color: #f3f3f3;
  transition: all 0.5s ease!important;
  letter-spacing: 0.05em;
}
.btn-secondary a:hover {
  background-color: #fff;
}
.btn-arrow a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary)!important;
  border: 1.4px solid var(--primary);
  border-radius: 50px;
  padding: .5rem 1.8rem .5rem 1.2rem;
  text-decoration: none;
  line-height: 1.2;
  background-color: transparent;
  background-color: #f3f3f3;
  transition: all 0.5s ease!important;
  letter-spacing: 0.05em;
  position: relative;
}
.btn-arrow a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  transform: rotate(45deg);
  box-sizing: border-box;
  transition: all 0.5s ease!important;
}
.btn-arrow a:hover::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  transform: rotate(45deg);
  box-sizing: border-box;
}
.btn-arrow a:hover {
  background-color: #fff;
}
.btn-back a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  /* color: var(--primary)!important; */
  color: #fff;
  /* border: 1.4px solid var(--primary); */
  border-radius: 50px;
  padding: .5rem 1.2rem .5rem 1.8rem;
  text-decoration: none;
  line-height: 1.2;
  background-color: var(--primary);
  transition: all 0.5s ease!important;
  letter-spacing: 0.05em;
  position: relative;
}

.btn-back a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(225deg);
  box-sizing: border-box;
  transition: all 0.5s ease!important;
}
.btn-back a:hover::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  /* transform: rotate(225deg); */
  box-sizing: border-box;
}
.btn-back a:hover {
  background-color: #fff;
  color: var(--primary);
}


.footer-btn-wrap {
  display: flex;
  /* justify-content: space-around; */
  justify-content: start;
}


.footer-btn-primary a {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #fff!important;
  border-radius: 50px;
  padding: .6rem 1.6rem ;
  text-decoration: none;
  line-height: 1.2;
  background-color: var(--primary);
  transition: all 0.5s ease!important;
  opacity: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 2rem 0.5rem 0 0;
  width: 100%;
  width: 250px;
  max-width: 300px;
}

.footer-btn-primary a:hover {
  opacity: .8;
  background-color: var(--primary);
}

.footer-btn-primary .fa-calendar-alt {
  color: #fff;
  font-size: 16px;
}
.footer-btn-secondary .fa-phone-alt {
  color: var(--primary);
  font-size: 16px;
}

.footer-btn-secondary a {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: var(--primary) !important;
  border-radius: 50px;
  padding: .5rem 1.6rem;
  text-decoration: none;
  line-height: 1.2;
  border: var(--primary) 1.5px solid;
  background-color: transparent;
  transition: all 0.5s ease!important;
  opacity: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 2rem 0 0 0.5rem;
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  width: 250px;
  max-width: 300px;
}


.footer-btn-secondary a:hover {
  background-color: var(--secondary);
}

@media screen and (max-width:1200px) {
  .footer-btn-primary a {
    margin: 1rem 0.5rem 2rem 0;
  }
  .footer-btn-secondary a {
    margin: 1rem 0 2rem 0.5rem;
  }
  .footer-btn-wrap {
    justify-content: center;
  }
}

@media screen and (max-width:768px) {
  .footer-btn-primary a {
    margin: 1rem 0 0 0;
  }
  .footer-btn-secondary a {
    margin: 1.5rem 0 2rem 0;
  }
  .footer-btn-wrap {
    flex-direction: column;
    align-items: center;
  }
}


/* top-contact ------------------ */


.top-contact-wrap {
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, .1);
  padding: 2rem 3rem;
}

.top-contact_title {
  font-size: 28px!important;
  padding-bottom: 0!important;
  margin-bottom: 10px!important;
  text-align: center;
}

.contact-btn-web {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff!important;
  background-color: var(--primary);
  line-height: 1;
  margin: 0 0 0 0;
  border: 1px solid var(--primary);
  border-radius: 50px;
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.5s ease;
  width: 300px;
  /* box-shadow: 0px 6px 10px rgb(0, 0, 0, .15); */
  opacity: 1;
  transition: all .5s;
}

.contact-btn-web:hover {
  opacity: .8;
  box-shadow: 0px 1px 4px rgb(0, 0, 0, .1);
}

.top-contact-phone-wrap {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.top-contact-text {
  line-height: 1.3;
  padding-bottom: 0;
  font-size: 16px;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

.top-contact-schedule-text {
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contact-btn-phone {
  text-decoration: none;
  font-size: 32px;
  color: var(--primary)!important;
  font-weight: 500;
  margin-left: 1.5rem;
}

.contact-btn-phone .fa-phone-alt {
  font-size: 22px;
}


@media screen and (max-width:768px) {
  .top-contact_title {
    font-size: 22px!important;
  }
}
@media screen and (max-width:576px) {
  .top-contact-phone-wrap {
    flex-direction: column;
    margin-bottom: 0;
  }
  .contact-btn-web {
    width: 100%;
  }
  .top-contact-text {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  .contact-btn-phone {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 0.5rem 0;
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 1rem 2rem;
    display: inline-block;
    transition: all 0.5s ease;
    width: 100%;
  }
  
}


/* table ----------------------------- */

.tbl_time {
  max-width: 936px;
  width: 100%;
  margin: 0 auto 8px;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  color: #000;
  text-align: center;
}

.tbl_ttl {
  width: 19%;
}

.tbl_con {

  width: 5%;
}

.tbl_time thead th {
  background: var(--secondary);
  font-weight: 500;
  color: #000;
  padding: 15px 0 14px;
  border-left: 0.5px solid #999;
}

.tbl_time thead th:first-child {
  padding-left: 1em;
  font-size: 20px;
  font-family: "Zen Maru Gothic", sans-serif;
}

.tbl_time tbody th {
  font-weight: 500;
  background: #fff;
}

.tbl_time tbody th:first-child {
  padding-left: 1em;
}

.tbl_time tbody td {
  font-size: 87.5%;
  font-weight: 500;
  padding: 15px 0 14px;
  border-left: 0.5px solid #999;
  background: #fff;
}

.tbl_time thead tr th:first-child,
.tbl_time tbody th:first-child {
  text-align: start;
}


.schedule_wrap {
  display: flex;
  justify-content: space-between;
}
.access-schedule_wrap {
  display: flex;
  justify-content: space-between;
}

.schedule_doctor {
  font-size: 15px;
  line-height: 1.6;
}

.schedule_time {
  text-align: end;
  font-size: 15px;
  line-height: 1.6;
}

.doctor-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.doctor-list li {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 1rem;
  flex-wrap: wrap;
}

.doctor-list-top {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media screen and (max-width:768px) {
  .schedule_wrap {
    display: block;
  }
  .access-schedule_wrap {
    flex-direction: column;
  }
  .schedele_doctor {
    font-size: 16px;
    line-height: 1.4;
  }
  
  .schedule_time {
    text-align: start;
    font-size: 16px;
    line-height: 1.4;
  }
}

/* treatment ----------------- */

#treatments {
  background-color: var(--secondary);
}

.treatments-card {
  background-color: #F3F6FA;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, .1);
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.treatments-icon {
  background-color: #fff;
  width: 75px;
  height: 75px;
  display: grid;
  place-items: center;
  border-radius: 50px;
}

.treatments-card-heading {
  display: grid;
  place-items: center;
  place-content: center;
  margin-bottom: 0.5rem;
}
.treatments-card-heading h3 {
  color: var(--primary);
  font-weight: 500!important;
  margin-bottom: 0;
  padding-top: 0.3em!important;
}
.treatments-card-heading p {
  font-weight: 300;
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  margin-bottom: 0;
}

.treatments-card-btn-wrap {
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: end;
}


.slider div img {
  width: 100%;
}

/* Top Navigation
-------------------------------------------------- */

.navbar {
  z-index: 10;
  margin: 10px auto 0;
  position: fixed;
  top: 0;
  width: 98%;
  border-radius: 15px;
  box-shadow: 0px 4px 7px 1px rgba(31, 31, 31, 0.07);
  background: #ffffff;
  padding-top: 0;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
      align-items: center;
  }
}

#seren-masthead {
  margin: 0;
}


.navbar-fixed-top {
  transition: background-color .5s ease 0s;
}

.navbar-fixed-top.opaque {
  background-color: transparent;
  transition: background-color .5s ease 0s;
}

.navbar-inverse {
  background-color: #ffffff00;
  border-top: none;
  border-bottom: none!important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  outline: 0;
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
}

.navbar-fixed-top:before {
  content: "";
  background: inherit;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  outline: 0;
}
.navbar-inverse .navbar-nav > li:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  border-radius: 50px;
  transition: all 0.5s;
}


.navbar-inverse .navbar-nav > li:hover .home{
  fill: #fff;
}

.navbar-inverse .navbar-nav > li > a small {
  display: block;
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

.navbar-inverse .navbar-nav > li > a.nav-selected {
  position: relative;
}

.navbar-inverse .navbar-nav > li > a.nav-selected:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0%;
  height: 2px;
  width: 100%;
  opacity: 0.5;
  background-color: #fff;
  transition: all 0.5s;
}
.navbar-inverse .navbar-nav > li > a.nav-selected {
  color: #fff;
}
.navbar-inverse .navbar-nav .nav-selected .home {
  fill: #fff;
}

.navbar-inverse .navbar-nav > li a {
  transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
}

.navbar-inverse .navbar-nav > li > a:after {
  display: block;
  transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
}

.navbar-inverse .navbar-nav > li > a:hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 5%;
  height: 100%;
  height: 2px;
  width: 90%;
  opacity: 0.5;
}


.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
}

/* sp */

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #ffffff00;
  color: #ffffff;
  fill: #fff;
}

.navbar-inverse .navbar-toggle {
  border: none;
  margin-right: 0;
  margin-top: 25px;
}

.navbar-toggle .icon-bar {
  border-radius: 0;
  display: block;
  height: 2px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: var(--secondary);
}


.navbar-nav > .nav-item {
  text-align: initial;
  vertical-align: top;
  transition: .5s all;
}

.nav-link {
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-weight: 600;
  font-size: 17px;
  display: block;
  color: #000000;
  white-space: nowrap;
}
 @media screen and (max-width:1199.98px) {
  .nav-link{
    border-bottom: 1px solid #dadada;
  }
  .nav-item:first-child .nav-link {
    border-top: 1px solid #dadada;
  }
 }



.navbar-nav li.nav-item > a small {
  display: block;
  font-weight: 400;
  color: #7D7D7D;
  transition: .5s all;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  border-bottom: 1px solid #ccc;
  line-height: 1.6;
  font-size: 14px;
  background-color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: var(--darkblue);
  color: #000;
  transition: background-color .5s ease 0s;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #666;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 0;
  padding: 0;
}

.dropdown-menu > li > a {
  color: #000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #000;
  background-color: var(--secondary);
  background-position: center center;
  box-shadow: none;
  transition: background-color .5s ease 0s;
}

.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 5px 15px 5px 40px;
}

.navbar-collapse.in > li > a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.231)000;
}

#site-logo {
  display: block;
  width: 100%;
  margin: 0;
}
#site-logo a img {
  max-width: 300px;
  width: 100%;
  color: #0F1242;
}

.nav-column {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.nav-schedule-wrap {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.nav-schedule {
  margin: 0 1rem 0 0;
  font-size: 14px;
  line-height: 1;
}
@media screen and (max-width:1199.98px) {
  /* .nav-column {
    display: block;
  } */
}

@media screen and (max-width:1199.98px) {
  .nav-schedule {
    display: none;
  }
  .nav-column {
    display: block;
  }
  .nav-schedule-wrap {
    display: none!important;
  }
}
@media screen and (max-width: 1080px) {
  #site-logo a img {
    width: 240px;
    color: #0F1242;
  }
}


.nav-link> div {
  margin-bottom: 10px;
}




@media screen and (max-width:1199.98px) {
  .nav-link> div {
    margin: 0;
  }
  #site-logo a img {
    width: 280px;
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border: none!important;
  }
  #seren-main-nav {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .navbar-collapse {
    margin-top: 0;
  }

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    fill: #fff;
  }

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:active {
    background-position: center center;
  }

  .navbar-collapse.in {
    background-color: transparent;
  }

  .navbar-nav {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .navbar-nav .nav-item {
    float: none;
    display: inline-block;
    text-align: center;
  }

  /* .nav-link {
    padding: 5px 10px!important;
    border: none;
    line-height: 1.2;
  } */

  .navbar-nav > li > a:hover {
    color: var(--primary);
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border: none!important;
  }

  .dropdown-menu {
    padding: 0;
    font-size: 14px;
    text-align: center;
  }

  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 3px 20px;
  }

  .seren-logo-link {
    float: none;
  }

  .seren-logo-link > img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
  }

  a.seren-logo-font {
    font-size: 60px;
    padding-top: 0;
  }

  #seren-masthead-left {
    text-align: left;
  }

  #seren-logo {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    padding: 5px 18px!important;
    border: none;
    line-height: 1.2;
  }
}


@media screen and (max-width: 1450px) {
  .nav-link {
    padding: 15px 5px!important;
    padding: 5px 10px!important;
    font-size: 15px!important;
  }
}

@media screen and (max-width:1199.98px) {
  .nav-link {
    padding: 12px 10px!important;
    line-height: 1.2;
    font-size: 16px!important;
  }

.navbar-inverse .navbar-nav > li > a {
    background-color: transparent;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
  }

  .nav-link > img {
    margin-top: -5px;
  }
.navbar-inverse .navbar-nav > li > a.nav-selected {
    background-color: #00739955;
    color: #fff;
  }
  
.navbar-inverse .navbar-nav > li > a.nav-selected:after {
    left: 0%;
    height: 100%;
    width: 100%;
    opacity: 1;
    border-radius: 0px;
  }
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #00739955;
    color: #fff;
  }
  
  
.navbar-inverse .navbar-nav > li > a:hover:after {
    background-color: transparent;
  }
.navbar-inverse .navbar-nav > li > a.nav-selected:after {
    background-color: transparent;
  }
#seren-masthead-right {
    display: none;
  }
  .navbar-toggler-icon {
    background-image: url(../images/hamburger-menu.svg);
  }
  .navbar-toggler {
    border: none!important;
    padding-left: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none!important;
  }
}


.header-btn-wrap {
  margin: 0 auto;
}

.header-btn-phone_pc {
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  color: var(--primary) !important;
  padding: 0;
  line-height: 1;
  margin: 0 1rem 0 0.5rem;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.5s ease;
}
.header-btn-phone_pc:hover {
  opacity: .8;
}

.header-btn-phone_pc .fa-phone-alt {
  font-size: 19px;
}

.header-btn-web {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff!important;
  background-color: var(--primary);
  line-height: 1;
  margin: 0 1rem 0 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  display: block;
  transition: all 0.5s ease;
  width: 180px;
}

.header-btn-web .fa-calendar-alt {
  font-size: 18px;
}

.header-btn-web:hover {
  opacity: .8;
}

.header-btn-phone_sp {
  display: none;
}


@media screen and (max-width:991px) {
  .header-btn-phone_pc {
    display: none;
  }
}
@media screen and (max-width:1199.98px) {
  /* .header-btn-phone_pc {
    display: none;
  } */
  .header-btn {
    margin: 0 auto 1rem;
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: .5rem 2rem;
    width: 250px;
  }

  .header-btn-web {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff!important;
    background-color: var(--primary);
    line-height: 1;
    margin: 1.5rem 1rem 1rem 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 0.6rem 1rem;
    display: block;
    transition: all 0.5s ease;
    width: 200px;
  }
  
  .header-btn-phone_sp {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: var(--primary) !important;
    line-height: 1;
    margin: 0 1rem 1.5rem 0.5rem;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.5s ease;
    width: 200px;
    border: 1px solid var(--primary);
    padding: 0.5rem 1rem;
  }
  .header-btn-phone_sp .fa-phone-alt {
    font-size: 14px;
  }
  
}

.header-btn .fa-phone-alt{
  font-size: 13px;
}

.header-text {
  font-size: 14px;
  margin-bottom: 2px;
  line-height: 1;
  color: var(--primary);
  display: block;
  font-weight: 400;
}

.header-time {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 1;
  color: var(--primary);
  display: block;
}


/* footer
-------------------------------------------------- */

#footer {
  margin-top: auto;
  background: #f3f3f3;
  background: #ffffff;
}

.footer img:hover {
  opacity: .7;
}  

#top-footer {
  padding: 5rem 0;
}



#bottom-footer {
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
}

#bottom-footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  align-self: center;
}

#bottom-footer hr {
  margin: 0;
}


.f-logo-wrap {
  display: flex;
  padding-left: 0;
}

.f-info {
  margin-left: 1.5rem;
}

.f-info h2 {
  font-size: 22px!important;
  margin-bottom: 10px!important;
  padding-bottom: 0!important;
  letter-spacing: 0.02em;
}

.f-info p {
  font-size: 16px;
  margin-bottom: 3px;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
.f-info p:nth-of-type(1){
  margin-bottom: 10px;
}


.footer-contact-wrap {
  display: flex;
  justify-content: space-between;

}

.f-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding: 4rem 0;
}
.f-nav li {
  margin-right: 1.5rem;
}
.f-nav li a {
  text-decoration: none;
  font-weight: 500;
}


.copy-right {
  color: #999!important;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 12px;
  padding: 4rem 0;
}

@media screen and (max-width: 1200px) {
  .f-logo-wrap {
    flex-direction: column;
    text-align: center;
  }
  .f-info {
    margin-top: 1rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .f-nav {
    flex-direction: column;
    padding: 3rem 0;
  }
  .f-nav li {
    margin-right: 0;
    margin: 0 0 0.5rem 0;
  }
  .copy-right {
    text-align: center;
    padding: 3rem 0;
  }
}



@media screen and (max-width: 1317px) {
#site-logo a img {
      width: 260px;
  }

  .nav-link {
    font-weight: 600;
    font-size: 15px;
 }
}

@media screen and (max-width:1075px) {
  .header-btn-web {
    /* width: 140px; */
  }
  #site-logo a img {
    width: 220px;
  }
}
@media screen and (max-width:1199.98px) {
  #site-logo a img {
    width: 260px;
  }
}
/* max-width:1199.98px
-------------------------------------------------- */

@media screen and (max-width:1199.98px) {
.navbar {
    /* margin-bottom: 0px;
    padding-bottom: 0; */
    padding-bottom: 0;
    margin: 8px auto 0;
    /* margin: 8px; */
  }
  #seren-masthead {
    padding: 10px 0!important;
  }

#home-mv {
    background: #999999 url(../images/home-mv_sp.svg) no-repeat top center / cover;
    min-height: 520px;
  }

#about-mv {
    min-height: 300px;
  }
#treatments-mv {
    min-height: 300px;
  }
#access-mv {
    min-height: 300px;
  }
#reserve-mv {
    min-height: 300px;
}
  
.mv-title {
    font-size: 28px;
    padding-top: 2rem;
  }

#seren-masthead {
    padding-top: 0px;
    padding-bottom: 0px;
  }

#site-logo-area {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

#site-logo {
    flex: 1;
  }

#hamburger-menu {
    width: 0px;
  }

#hamburger-menu .navbar-toggle {
    border: none;
    border-radius: initial;
    height: 32px;
    margin: 0px;
    padding-left: 25px;
    padding-right: 10px;
    padding: 0!important;
  }

}

/* max-width: 479px
-------------------------------------------------- */

@media screen and (max-width: 479px) {
.navbar {
    margin-bottom: 0px;
    min-height: 55px;
  }

#home-mv {
    min-height: 250px;
  }

#about-mv {
    min-height: 200px;
  }
#treatments-mv {
    min-height: 200px;
  }
#access-mv {
    min-height: 200px;
  }
#reserve-mv {
    min-height: 200px;
}
  

.mv-title {
    font-size: 22px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 353px) {
.navbar {
    width: 100%;
  }
#site-logo a img {
      width: 240px;
  }
}



/* spacer
-------------------------------------------------- */

.spacer-10 {
  height: 10px;
}

.spacer-20 {
  height: 20px;
}

.spacer-30 {
  height: 30px;
}

.spacer-40 {
  height: 40px;
}

.spacer-50 {
  height: 50px;
}

.spacer-60 {
  height: 60px;
}

.spacer-70 {
  height: 70px;
}

.spacer-80 {
  height: 80px;
}

.spacer-90 {
  height: 90px;
}

.spacer-100 {
  height: 100px;
}



/* image
-------------------------------------------------- */

.center-block > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  /* display: inline-block; */
  /* height: auto; */
  max-width: 100%;
  transition: all 0.5s ease!important;
}

img.img-full-width,
.img-full-width img.img-responsive {
  width: 100%;
  height: auto;
}

img.img-circle,
.img-circle img {
  border-radius: 50%;
}



/* list
-------------------------------------------------- */

ul.bordered {
  counter-reset: counter-name;
  padding-left: 0;
  margin-bottom: 2em;
}

ul.bordered li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 1em 0 1em 40px;
  border-bottom: 1px dotted #ccc;
}

ul.bordered li:before {
  content: "\2022";
  position: absolute;
  left: 0;
  width: 28px;
  text-align: right;
}

ul.list {
  counter-reset: counter-name;
  padding-left: 0;
  margin-bottom: 2em;
}

ul.list li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 1em 0 1em 20px;
  border-bottom: 1px dotted #ccc;
}

ul.without-marker {
  padding-left: 0;
  margin-bottom: 2em;
}

ul.without-marker li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 1em 0 1em 0em;
  border-bottom: 1px dotted #ccc;
}

ol {
  counter-reset: counter-name;
  padding-left: 0;
}

ol li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0 0 0 2.4em;
}

.col-md-9 ol li {
  padding: 16px 0 5px 2.4em!important;
}

ol.bordered {
  counter-reset: counter-name;
  padding-left: 0;
}

ol.bordered li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 1em 0 1em 2.4em;
  border-bottom: 1px dotted #ccc;
}

ol.bordered li:last-child {
  border-bottom: none;
}

ol.no-border {
  counter-reset: counter-name;
  padding-left: 0;
}

ol.no-border li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0 0 0 2.4em;
  border-bottom-style: none !important;
}

ol li:before,
ol.bordered li:before,
ol.no-border li:before {
  counter-increment: counter-name;
  content: counter(counter-name) ".";
  color: var(--blue);
  font-weight: 700;
  position: absolute;
  left: 0;
  display: block;
  width: 1.6em;
  text-align: right;
}



/* float
-------------------------------------------------- */



#sp-float {
  display: none;
}

@media screen and (max-width:1199.98px) {
  #sp-float {
    z-index: 500;
    position: relative;
    display: block;
  }
  
  .sp-float-btn-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 500;
    position: fixed;
    bottom: 0;
    transition: all .5s;
    box-shadow: 0 -3px 15px rgba(62, 62, 62, 0.1);
  }
  
  .sp-float-text {
    line-height: 1;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  
  .sp-float-phone {
    width: 50%;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--secondary);
    color: var(--primary)!important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: grid;
    place-content: center;
  }
  
  .sp-float-web {
    width: 50%;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--primary);
    color: #fff!important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: grid;
    place-items: center;
  }
  .sp-float-phone .fa-phone-alt {
    color: var(--primary);
    transition: all .5s;
    font-size: 14px;
  }
  .sp-float-phone:hover {
    text-decoration: none;
    background-color: var(--primary);
    color: #fff!important;
    box-shadow:  2px 3px 10px rgb(0, 0, 0, .25);
  }
  .sp-float-phone:hover .fa-phone-alt {
    color: #fff;
  }
  .sp-float-web .fa-calendar-alt {
    font-size: 14px;
  }
  .sp-float-web:hover {
    text-decoration: none;
    background-color: #fff;
    color: var(--primary)!important;
    box-shadow:  2px 3px 10px rgb(0, 0, 0, .25);
  }
  
}
@media screen and (max-width:576px) {
  .sp-float-text {
    line-height: 1;
    margin-bottom: 0;
  }
  
  .sp-float-phone {
    padding: .7rem 0;
    font-size: 16px;
  }
  .sp-float-phone .fa-phone-alt {
    color: var(--primary);
    transition: all .5s;
    font-size: 12px;
  }
  .sp-float-phone:hover {
    text-decoration: none;
    background-color: var(--primary);
    color: #fff!important;
    box-shadow:  2px 3px 10px rgb(0, 0, 0, .25);
  }
  .sp-float-phone:hover .fa-phone-alt {
    color: #fff;
  }
  
  .sp-float-web {
    padding: .7rem 0;
    font-size: 16px;
  }
  .sp-float-web .fa-calendar-alt {
    font-size: 12px;
  }
  .sp-float-web:hover {
    text-decoration: none;
    background-color: #fff;
    color: var(--primary)!important;
    box-shadow:  2px 3px 10px rgb(0, 0, 0, .25);
  }
}



#map-btn {
  z-index: 500;
  position: relative;
  display: block;
}

#map-btn a {
  z-index: 500;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  width: 46px;
  height: 46px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: fixed;
  bottom: 74px;
  right: 20px;
  transition: 0.5s;
  border: 1px solid var(--primary);
  color: #fff!important;
  background-color: var(--primary);
  transition: .5s!important;
  border: 1px solid #ffffff;
  border: none;
  box-shadow:  2px 3px 6px rgb(0, 0, 0, .25);
  display: grid;
  place-items: center;
}

#map-btn a .fa-map-marker-alt {
  color: #fff;
}
#map-btn a:hover {
  text-decoration: none;
  background-color: #fff;
  color: var(--primary);
  box-shadow:  2px 3px 10px rgb(0, 0, 0, .25);
}

#map-btn a:hover .fa-map-marker-alt {
  color: var(--primary);
}

@media screen and (max-width:576px) {
  #map-btn a {
    font-size: 16px;
    padding: 8px 10px;
  }
}


/* Link
-------------------------------------------------- */

ul.link {
  list-style: none;
  padding-left: 0;
}

ul.link > li {
  border-bottom: 1px solid #ccc;
}

ul.link > li:first-child {
  border-top: 1px solid #ccc;
}

ul.link ul {
  list-style: none;
  padding-left: 0;
}

ul.link li {
  color: #000;
  display: block;
  padding: 3px 0px 3px 22px;
  position: relative;
}

ul.link li a {
  display: block;
  padding: 5px 0;
  text-decoration: none !important;
}

ul.link li a:focus,
ul.link li a:hover {
  background-color: transparent !important;
  text-decoration: underline !important;
}

ul.mini-bar {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

ul.mini-bar > li {
  border-bottom: 1px solid #ccc;
  color: #000;
  display: block;
  padding: 8px 5px 8px 10px;
  position: relative;
}

ul.mini-bar > li:first-child {
  border-top: 1px solid #ccc;
}

ul.mini-bar > li > a {
  display: block;
  position: relative;
  text-decoration: none !important;
}

ul.mini-bar > li > a:focus,
.ccm-page ul.mini-bar > li > a:hover {
  background-color: transparent !important;
  text-decoration: none;
}

ul.mini-bar > li.selected {
  color: #888;
  background-color: #fdeaeb;
}

ul.mini-bar > li.selected > a {
  color: #888 !important;
}

ul.mini-bar > li.selected > a:focus,
.ccm-page ul.mini-bar > li.selected > a:hover {
  color: #1f1f1f !important;
}

ul.mini-bar > li.selected > a:before {
  color: #fff !important;
}

ul.mini-bar > li.selected > a:focus:before,
.ccm-page ul.mini-bar > li.selected > a:hover:before {
  color: #fff !important;
}

/* original devided grid
-------------------------------------------------- */

.col-md-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-1-5 {
    float: left;
    width: 20%;
  }
}

.col-md-1-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-1-7 {
    float: left;
    width: 14.2857%;
  }
}

.col-md-1-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-1-8 {
    float: left;
    width: 12.5%;
  }
}

.col-md-1-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-1-9 {
    float: left;
    width: 11.1111%;
  }
}

.col-md-1-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-1-10 {
    float: left;
    width: 10%;
  }
}




/* custom --------------------- */

.underline {
  text-decoration: underline var(--blue);
  font-weight: 600;
}

.listUnderline {
  list-style: none;
  padding-left: 0!important;
  margin-bottom: 0;
}
.listUnderline-li {
  border-bottom: 1px solid #cccccc;
  padding: 1.2rem 0;
}
.listUnderline-p {
  margin-bottom: 0!important;
}

#Achievements h2 {
  margin-bottom: 0;
}

.article-wrap {
  margin-bottom: 1rem;
}


.bottom-f-logo {
  text-align: right;
}

.fa-chevron-left {
  margin-right: 16px;
}

.table-borderless > tbody > tr > th {
  width: 150px;
}


/* icon ----------------- */

/* i.fas {
  color: var(--primary);
} */




/* about page ============== */

.doctors-wrap {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, .15);
  padding: 1.5rem;
  /* margin:  3rem 3rem; */
  margin:  3rem 0;

}

.doctors-career {
  border-collapse: collapse;
  width: 100%;
  /* max-width: 700px; */
  margin-bottom: 2rem;
}
.doctors-career th {
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.doctors-career td {
  padding: 0.2rem 0.5rem 0.2rem 1rem;
}
.doctors-career th {
  color: #666;
  font-weight: 500;
  text-align: left;
  width: 14%;
  min-width: 6rem;
  position: relative;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .doctors-wrap {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, .15);
    padding: 1.5rem 1rem;
    margin:  1rem 0;
    /* box-sizing: border-box; */
  }
  
  .doctors-career {
    width: 100%;
  }
  .doctors-career th,
  .doctors-career td {
    display: block;
    width: 100%;
    border-bottom:none;
  }
  .doctors-career th {
    padding: 0.8rem 0 0 0;
  }
  .doctors-career td {
    padding: 0 0.5rem 0 0;
    padding: 0 0 0 0;
  }

  .doctors-career th::after {
    display: none;
  }
}

.doctors-list {
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.doctors-list li {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

@media screen and (max-width:768px) {
  .doctors-image {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }  
}


/* treatments ========================= */

/* affiliations---------------------- */

.affiliations-lists {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.affiliations-lists li a {
  border: 1.5px solid var(--primary);
  padding: .5rem .8rem;
  margin: 1rem .5rem;
  text-decoration: none;
  border-radius: 50px;
  transition: all .5s;
  background-color: #fff;
  white-space: nowrap;
}

.affiliations-lists li {
  margin: .8rem 0;
}
.affiliations-lists li a:hover {
  background-color: var(--primary);
  color: #fff;
  border: 1.5px solid var(--primary);
}


/* popup -------------------- */

.popup {
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  position:fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: .4s ease;
}

.popup.ok {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.popup-inner {
  width:85%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  border-radius: 15px;
  padding: 30px 20px;
}

.popup p {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-weight: 400!important;
  margin-bottom: 1.5rem;
  line-height: 1.7;
  text-align: start;
}
.popup h2 {
  font-size: calc(1rem + .8vw);
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  padding-bottom: 0.25rem;
}
#popupBtn {
  color: #fff;
  background: var(--primary);
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  border-radius: 50px;
  font-weight: 500;
  padding: 10px 14px;
  line-height: 1;
  border: none;
  opacity: 1;
  transition: all .5s;
}
#popupBtn:hover {
  opacity: .8;
}

@media only screen and (max-width: 641px) {
  .popup-inner {
    padding: 22px 18px!important;
    width:90%;
  }
  .popup p {
    margin-bottom: 1rem;

  }
}


@media (min-width: 751px) {
  a[href^="tel:"] {
      pointer-events: none;
      cursor: default;
  }
}

.reserve-img {
  border: 1px solid #555;

}



/* treatments page ------------------- */

.treatments-bg {
  background-color: #F3F6FA;
  background-color: #fff;

    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, .15);
    padding: 1.5rem;
    /* margin: 3rem 3rem; */
    margin: 3rem 0;
}

/* border-bottom: 2px solid var(--primary); */

.fa-circle {
  font-size: 8px;
}

.icon-wrap {
  display: flex;
  align-items: center;

}

.treatments-bg h6 {
  padding-left: 1rem;
  position: relative;
}

.treatments-bg h6:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8px;
  position: absolute;
  left: 0;
  top: 30%;
}

.list-primary {
  padding-left: 1.5rem;
}
.list-primary li ul {
  padding-left: 1.5rem;
}
.list-primary li::marker {
  color: var(--primary);
}

/* .list-primary li::marker {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 4px;
  position: absolute;
  left: 0;
  top: 8%;
  color: var(--primary);
} */

.sidebar-list {
  position: sticky;
  top: 10rem;
  margin-top: 3rem;
}
.sidebar-list ul {
  list-style: none;
  padding-left: 0;
}
.sidebar-list ul li {
  margin-bottom: 1rem;
}
.sidebar-list ul li a {
  text-decoration: none;
  color: #000;
  padding-bottom: 0.2rem;
  border-bottom: 1.5px solid var(--primary);
  font-family: "Roboto", "Zen Maru Gothic", sans-serif;
  font-weight: 500;
}
.sidebar-list ul li a:hover {
  color: #054B85;
}

@media screen and (max-width:992px) {
  .sidebar-list {
    position: static;
    margin-top: 0;
  }
  .sidebar-list ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .sidebar-list ul li {
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }
}


/* top page info ------------------- */

.info-wrap {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
  /* margin-bottom: 4rem; */
}

.info-box {
  width: 100%;
  max-height: 150px;
  padding-right: 15px;
  overflow: auto;
  overflow-y: scroll;
}


.info-list dl {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
}
.info-list dl:last-child {
  border-bottom: none;
}

.info-list dt {
  width: 6rem;
  font-weight: 300;
}

.info-list dd {
  width: calc(100% - 6.5em);
  margin-bottom: 0;
}


@media screen and (max-width:992px) {
  .info-heading-wrap {
    display: flex;
    justify-content: space-between;
  
  }
  .info-heading-wrap {
    display: flex;
    justify-content: space-between;
  
  }
  .info-heading-wrap .heading-wrap {
    margin-bottom: 0;
  }
}

@media screen and (max-width:768px) {
  .info-wrap {
    padding: 5px 20px;
  }
  .info-box {
    max-height: 200px;
    padding-right: 18px;
  }
  .info-list dl {
    flex-direction: column;
  }
  .info-list dt {
    width: 100%;
  }
  
  .info-list dd {
    width: 100%;
  }
}


.page-link {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  margin: 0 1rem!important;
  border: none;
  color: #333;
}

.page-link:hover {
  color: var(--primary);
}

.page-item:first-child .page-link {
  background-color: transparent;
  border-radius: 50px;
}
.page-item:last-child .page-link {
  background-color: transparent;
  border-radius: 50px;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  background-color: var(--primary);
  background-color: var(--secondary);
  color: #000;
  border-color: var(--bs-pagination-active-border-color);
}
.active>.page-link, .page-link.active:hover {
  color: #000;
}

.page-link:focus {
  box-shadow: none;
}

.breadcrumb {
  font-size: 14px;
  text-underline-offset: 3px;
  margin-bottom: 3rem;
}

.breadcrumb-item.active {
  color: #999;
}

@media screen and (max-width:768px) {
  .page-link {
    margin: 0 0.5rem!important;
  }
}

#maps .fa-pills, #maps .fa-parking {
  color: var(--primary);
  margin-right: .5rem;
}

.map-wrap .fa-map-marker-alt {
  color: var(--primary);
}



.table-bordered {
  width: 100%;
}
.table-bordered th, .table-bordered td {
  /* width: 300px; */
  /* height: 100px; */
  width: 20%;
  vertical-align: middle;
  padding: 8px 15px;
  line-height: 1.3;
}
.table-bordered thead th {
  text-align: center;
}
.table-bordered thead th span {
  font-weight: 400;
  font-size: 14px;
}
.table-bordered tr td {
  text-align: center;
}
.table-bordered tr:last-child td{
  text-align: end;
}

.table-bordered thead > tr > th {
  background: var(--secondary);
}

.table-bordered tbody th {
  font-weight: 600;
  background: #f5f5f5;
}
.table-bordered tbody th span {
  font-weight: 400;
  font-size: 14px;
}


@media screen and (max-width: 768px) {
  .scroll{
     overflow-x : auto;
     white-space: nowrap;
   }
   .table-bordered th span {
    white-space: wrap;
  }
  .table-bordered tbody th {
    position: sticky;
    left: 0;
  }
  .table-bordered th {
    vertical-align: top;
  }
}

.text-blue {
  color: var(--primary);
  font-family: "Zen Maru Gothic", "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.treatments-title {
  display: flex;
  align-items: center;
}

.treatments-card-btn {
  color: var(--primary);
  text-decoration: none;
}